.pagetop.container
    .pagetop__column
        .pagetop__title 
            span Расчётный час: 12:00
            span Ночной тариф с 0:00 до 10:00

        .page-gallery-wrap
            .page-gallery.swiper-container
                .swiper-wrapper
                    .swiper-slide 
                        img(src="img/sl-top.jpg")
                    .swiper-slide 
                        img(src="img/sl-top.jpg")
                    .swiper-slide 
                        img(src="img/sl-top.jpg")

                .swiper-pagination

                .swiper-button-next
                .swiper-button-prev

    .pagetop__column
        .pagetop__roomname Номер «Комфорт»

        .pagetop__lists
            .pagetop__inner
                .room-info
                    .room-info__title Спальная комната:

                    ul.room-info__list
                        li Двуспальная кровать
                        li Кабельное ТВ
                        li Стол
                        li Кондиционер
                        li Бесплатный WI-FI
                        li Чайник

                .room-info
                    .room-info__title Ванная комната:

                    ul.room-info__list
                        li Душ
                        li Тапочки
                        li Туалет
                        li Фен
                        li Набор полотенец
                        li Туалетные принадлежности

        ul.price-info
            li
                .price-info__item
                    .price-info__article Сутки
                    .price-info__price 2 490 ₽
            li
                .price-info__item
                    .price-info__article 3 часа
                    .price-info__price 1 490 ₽
            li
                .price-info__item
                    .price-info__article Ночь
                    .price-info__price 2 190 ₽
            li
                .price-info__item
                    .price-info__article Доп. час
                    .price-info__price 250 ₽

        button(type="button").order-room Забронировать номер

.contblock.container
    .cont-txt
        p Сеть гостиниц «MID» предлагает уютные романтические номера для молодоженов в Москве. Бракосочетание – одно из наиболее значимых событий в жизни влюбленных, которое хочется запомнить на всю жизнь. Номер для молодоженов представляет собой оазис романтики и особого шика, который окажется незабываемым антуражем для идеальной первой брачной ночи. Номера для новобрачных позволят завершить праздничный банкет в уединенной и романтичной обстановке, которая придется как нельзя кстати. Семейная история должна начинаться в особенном месте, и персонал мини-отеля «Отель Уют» готов в любое время помочь в создании эталонных условий для этого.

.apartments
    .container
        .apartments__title 
            img(src="img/ap-title.png" width="309" height="45")

        .apartment-slider.swiper-container
            .swiper-wrapper
                +apSlideritem('img/sl-1.jpg')
                +apSlideritem('img/sl-2.jpg')
                +apSlideritem('img/sl-3.jpg')
                +apSlideritem('img/sl-1.jpg')

            .swiper-pagination.swiper-pagination_outer

            .swiper-button-next
            .swiper-button-prev

.hotelruls.container
    h2.maintitle Правила отеля
    .hotelruls__columns
        .hotelruls__column
            .hotelruls__img
                img(src="img/reception.jpg" width="403" height="301")

        .hotelruls__column
            ul.hotelruls-list
                li 
                    .hotelruls-list__icon
                        img(src="img/ruleicon-1.png" width="40" height="40")
                    .hotelruls-list__article При бронировании номера гость называет свое ФИО, дату и время приезда, продолжительность пребывания (количество часов или суток) и категорию номера.
                li
                    .hotelruls-list__icon
                        img(src="img/ruleicon-2.png" width="40" height="40")
                    .hotelruls-list__article Заселение с животными не производится.
                li
                    .hotelruls-list__icon
                        img(src="img/ruleicon-3.png" width="40" height="40")
                    .hotelruls-list__article Лица в состоянии алкогольного опьянения в гостиницу не заселяются. Администрация отеля вправе отказать в размещении, если гость не может подтвердить свое совершеннолетие или совершеннолетие своих гостей, а также без объяснения причины.
                li 
                    .hotelruls-list__icon
                        img(src="img/ruleicon-4.png" width="40" height="40")
                    .hotelruls-list__article Гость вправе находиться в номере не более 15 минут после истечения оплаченного им времени. По истечении шестнадцатой минуты гость должен будет оплатить каждый дополнительный час пребывания, исходя из категории номера.
                li 
                    .hotelruls-list__icon
                        img(src="img/ruleicon-5.png" width="40" height="40")
                    .hotelruls-list__article При освобождении номера гостем раннее истечения оплаченного им времени, деньги за неиспользованное время не возвращаются. 

.tableblock.container
    h2.maintitle Цены

    table.price-table.price-table__inner
        thead
            tr 
                th Категория номера

                th Цена за сутки

                th Цена за 3 часа

                th Цена за доп. час

                th Тариф «Ночь» с 23:00 до 09:00

                th Комплектация номера

                th Онлайн бронирование

        tbody 
            tr
                td 
                    a(href="#").price-table__link Номер «Комфорт»
                td 
                    .price-table__hidden Цена за сутки
                    .price-table__price от 3 990 руб.
                td 
                    .price-table__hidden Цена за 3 часа
                    .price-table__price 1 990 руб.
                td 
                    .price-table__hidden Цена за доп. час
                    .price-table__price 250 руб.
                td 
                    .price-table__hidden Тариф «Ночь» с 23:00 до 09:00
                    .price-table__price 2 690 руб.
                td
                    ul.apartment-slider__icons
                        li
                            img(src="img/slicon-1.png")
                        li
                            img(src="img/slicon-2.png")
                        li
                            img(src="img/slicon-3.png")
                        li
                            img(src="img/slicon-4.png")
                        li
                            img(src="img/slicon-5.png")
                        li
                            img(src="img/slicon-6.png")
                        li
                            img(src="img/slicon-7.png")
                        li
                            img(src="img/slicon-8.png")
                td
                    .price-table__check
                        img(src="img/check-table.png" width="30" height="30")
                    .price-table__btnwrap
                        button(type="button").price-table__btn Забронировать номер
            tr
                td 
                    a(href="#").price-table__link Номер «Премиум»
                td 
                    .price-table__hidden Цена за сутки
                    .price-table__price от 4 990 руб.
                td 
                    .price-table__hidden Цена за 3 часа
                    .price-table__price 1 990 руб.
                td 
                    .price-table__hidden Цена за доп. час
                    .price-table__price 250 руб.
                td 
                    .price-table__hidden Тариф «Ночь» с 23:00 до 09:00
                    .price-table__price 3 390 руб.
                td
                    ul.apartment-slider__icons
                        li
                            img(src="img/slicon-1.png")
                        li
                            img(src="img/slicon-2.png")
                        li
                            img(src="img/slicon-3.png")
                        li
                            img(src="img/slicon-4.png")
                        li
                            img(src="img/slicon-5.png")
                        li
                            img(src="img/slicon-6.png")
                        li
                            img(src="img/slicon-7.png")
                        li
                            img(src="img/slicon-8.png")
                td
                    .price-table__check
                        img(src="img/check-table.png" width="30" height="30")
                    .price-table__btnwrap
                        button(type="button").price-table__btn Забронировать номер
            tr
                td 
                    a(href="#").price-table__link Номер «Люкс»
                td 
                    .price-table__hidden Цена за сутки
                    .price-table__price от 5 990 руб.
                td 
                    .price-table__hidden Цена за 3 часа
                    .price-table__price 1 990 руб.
                td 
                    .price-table__hidden Цена за доп. час
                    .price-table__price 250 руб.
                td 
                    .price-table__hidden Тариф «Ночь» с 23:00 до 09:00
                    .price-table__price 3 790 руб.
                td
                    ul.apartment-slider__icons
                        li
                            img(src="img/slicon-1.png")
                        li
                            img(src="img/slicon-2.png")
                        li
                            img(src="img/slicon-3.png")
                        li
                            img(src="img/slicon-4.png")
                        li
                            img(src="img/slicon-5.png")
                        li
                            img(src="img/slicon-6.png")
                        li
                            img(src="img/slicon-7.png")
                        li
                            img(src="img/slicon-8.png")
                td
                    .price-table__check
                        img(src="img/check-table.png" width="30" height="30")
                    .price-table__btnwrap
                        button(type="button").price-table__btn Забронировать номер

            tr
                td 
                    a(href="#").price-table__link Номер «Люкс»
                td 
                    .price-table__hidden Цена за сутки
                    .price-table__price от 5 990 руб.
                td 
                    .price-table__hidden Цена за 3 часа
                    .price-table__price 1 990 руб.
                td 
                    .price-table__hidden Цена за доп. час
                    .price-table__price 250 руб.
                td 
                    .price-table__hidden Тариф «Ночь» с 23:00 до 09:00
                    .price-table__price 3 790 руб.
                td
                    ul.apartment-slider__icons
                        li
                            img(src="img/slicon-1.png")
                        li
                            img(src="img/slicon-2.png")
                        li
                            img(src="img/slicon-3.png")
                        li
                            img(src="img/slicon-4.png")
                        li
                            img(src="img/slicon-5.png")
                        li
                            img(src="img/slicon-6.png")
                        li
                            img(src="img/slicon-7.png")
                        li
                            img(src="img/slicon-8.png")
                td
                    .price-table__check
                        img(src="img/check-table.png" width="30" height="30")
                    .price-table__btnwrap
                        button(type="button").price-table__btn Забронировать номер

            tr
                td 
                    a(href="#").price-table__link Номер «Империал»
                td 
                    .price-table__hidden Цена за сутки
                    .price-table__price от 5 990 руб.
                td 
                    .price-table__hidden Цена за 3 часа
                    .price-table__price 1 990 руб.
                td 
                    .price-table__hidden Цена за доп. час
                    .price-table__price 250 руб.
                td 
                    .price-table__hidden Тариф «Ночь» с 23:00 до 09:00
                    .price-table__price 4 190 руб.
                td
                    ul.apartment-slider__icons
                        li
                            img(src="img/slicon-1.png")
                        li
                            img(src="img/slicon-2.png")
                        li
                            img(src="img/slicon-3.png")
                        li
                            img(src="img/slicon-4.png")
                        li
                            img(src="img/slicon-5.png")
                        li
                            img(src="img/slicon-6.png")
                        li
                            img(src="img/slicon-7.png")
                        li
                            img(src="img/slicon-8.png")
                td
                    .price-table__check
                        img(src="img/check-table.png" width="30" height="30")
                    .price-table__btnwrap
                        button(type="button").price-table__btn Забронировать номер

.hotelphotos.container
    h2.maintitle Фотографии отеля

    .photogallery.swiper-container
        .swiper-wrapper
            .swiper-slide
                .photogallery__img
                    img(src="img/slide-1.jpg")

            .swiper-slide
                .photogallery__img
                    img(src="img/slide-2.jpg")

            .swiper-slide
                .photogallery__img
                    img(src="img/slide-3.jpg")

        .swiper-pagination

        .swiper-button-next
        .swiper-button-prev
