.header.container
    .header__column
        .logo
            .logo__img
                img(src="img/logo.png" width="60" height="60")
            ul.logo__article
                li
                    img(src="img/logo-name.png" width="163" height="37")
                li
                    span мини отель

    .header__column
        ul.main-menu
            li
                a(href="#") Цены
            li
                a(href="#") Бронирование
            li
                a(href="#") Фото
            li
                a(href="#") Правила отеля
            li
                a(href="#") Лицензии
            li
                a(href="#") Контакты

    .header__column
        .phone-recall
            .phone-recall__image 
                img(src="img/phone-icon.png" width="24" height="24")
            a(href="tel:74956490808") +7 (495) 649-08-08

        .our-place
            .our-place__img
                img(src="img/marker.png" width="26" height="26") 
            .our-place__article Москва, пр. Ленинский, 95Б

.header-mob
    .burger

    .logo.logo_mob
        .logo__img
            img(src="img/logo.png" width="60" height="60")
        ul.logo__article
            li
                img(src="img/logo-name.png" width="98" height="14")
            li
                span мини отель
    .mob-recall
        img(src="img/phone-w.png")

.dropdownmenu
    .dropdownmenu__inner
        ul.dropdownmenu__nav
            li
                a(href="#") Цены
            li
                a(href="#") Бронирование
            li
                a(href="#") Фото
            li
                a(href="#") Правила отеля
            li
                a(href="#") Лицензии
            li
                a(href="#") Контакты

        .phone-recall
            .phone-recall__image 
                img(src="img/phone-w.png" width="24" height="24")
            a(href="tel:74956490808") +7 (495) 649-08-08

        .our-place
            .our-place__img
                img(src="img/marker-w.png" width="24" height="24") 
            .our-place__article Москва, пр. Ленинский, 95Б

        .metro-place
            .metro-place__img
                img(src="img/metro-icon.png" width="30" height="30")
            .metro-place__article Ленинский проспект





