@import "import/reset";
@import "import/fonts";

.container {
    max-width: 1752px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 19px;
    padding-top: 19px;

    @media (max-width: 1279px) {
        display: none;
    }

    .header__column {

        &:first-child {
            width: 20%;

            @media (min-width: 1800px) {
                width: 15%;
            }
        }

        &:nth-child(2) {
            width: 47%;
        }

        &:last-child {
            width: 27%;

            @media (min-width: 1600px) {
                width: 20%;
            }

            .phone-recall,
            .our-place {
                justify-content: flex-end;
            }
        }
    }
}

.logo {
    display: flex;
    align-items: center;

    li {
        &:first-child {
            margin-bottom: 4px;
        }

        &:last-child {
            color: #2456AE;
            font-size: 17px;
            text-transform: uppercase;

            span {
                display: inline-block;
                border-top: 1px solid #2456AE;
                font-weight: 600;
                padding-top: 3px;
            }
        }
    }
}

.logo__img {
    margin-right: 15px;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 6px solid #E4ECF7;

    a {
        font-size: 18px;
        display: inline-block;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 6px;
            background: #2456AE;
            left: 0;
            bottom: -26px;
            display: none;
        }

        &:hover {
            color: #2456AE;

            &:after {
                display: block;
            }
        }
    }
}

.phone-recall,
.our-place {
    display: flex;
    align-items: center;
}

.phone-recall {
    color: #2456AE;
    font-size: 28px;
    font-weight: 600;

    @media (min-width: 1600px) {
        font-size: 32px;
    }
}

.phone-recall__image {
    margin-right: 4px;
}

.our-place__img {
    margin-right: 9px;
}

.our-place {
    font-weight: 500;
    font-size: 16px;

    @media (min-width: 1600px) {
        font-size: 18px;
    }
}

.header-mob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 2px 2px 15px 2px rgba(56, 55, 121, 0.08);
    padding: 9px 16px;

    @media (min-width: 1280px) {
        display: none;
    }
}

.burger {
    width: 24px;
    height: 24px;
    background: url("../img/burger.png") no-repeat center;
    background-size: contain;
}

.burger.is-active {
    background: url("../img/close.png") no-repeat center;
}

.mob-recall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 34px;
    background: #FF9E00;
}

.logo_mob {
    .logo__img {
        width: 40px;
        height: 40px;
        margin-right: 12px;
    }

    .logo__article {
        li {
            &:first-child {
                margin-bottom: 3px;
            }

            &:last-child {
                span {
                    font-size: 14px;
                }
            }
        }
    }
}

.metro-place {
    display: flex;
    align-items: center;
}

.metro-place__img {
    margin-right: 5px;
}

.dropdownmenu {
    position: absolute;
    left: -100%;
    transition: 0.5s;
    background: #553E1D;
    max-width: 320px;
    width: 100%;
    padding: 28px 10px 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    box-shadow: 2px 2px 15px 2px rgba(56, 55, 121, 0.08);

    @media (min-width: 1280px) {
        display: none;
    }

    .phone-recall {
        font-size: 24px;
        color: white;
        margin-bottom: 21px;
    }

    .phone-recall__image {
        margin-right: 8px;
        position: relative;
        top: 3px;
    }

    .our-place {
        color: #E6AF78;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 28px;
    }

    .metro-place {
        color: #E6AF78;
        font-size: 15px;
    }
}

.dropdownmenu__nav {
    color: #F0C087;
    font-size: 18px;
    margin-bottom: 55px;

    li {
        margin-bottom: 25px;
        text-align: center;
    }
}

.dropdownmenu.is-active {
    left: 0;
}

.reservblock__metro {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @media (max-width: 1279px) {
        display: none;
    }

    @media (min-width: 1900px) {
        margin-bottom: 34px;
        padding-top: 25px;
    }

    .metro-place {
        margin-right: 35px;
        font-weight: 600;
    }
}

.metro-disstance {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}

.metro-disstance__img {
    margin-right: 9px;
}

.reservblock {
    padding-top: 10px;
    margin-bottom: 26px;

    @media (min-width: 1280px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    @media (min-width: 1900px) {
        align-items: flex-start;
        margin-bottom: 120px;
    }

    .reservblock__column {
        &:first-child {
            @media (max-width: 767px) {
                max-width: 880px;
                width: 100%;
                margin: 0 auto;
            }

            @media (min-width: 1280px) and (max-width: 1899px) {
                width: 59%;
            }

            @media (min-width: 1900px) {
                width: calc(100% - 820px);
                padding-right: 21px;
            }
        }

        &:last-child {
            position: relative;
            padding-top: 73px;

            @media (min-width: 1280px) {
                padding-top: 0;
            }

            @media (min-width: 1280px) and (max-width: 1899px) {
                width: 39%;
            }

            @media (min-width: 1900px) {
                width: 800px;
            }
        }
    }
}

.abouthotel {
    @media (min-width: 1280px) {
        background: #FFFFFF;
        box-shadow: 10px 10px 50px 5px rgba(62, 85, 148, 0.2);
        border-radius: 0px 20px 20px 0px;
        position: relative;
        padding: 16px 27px 0px 0px;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: -64px;
            width: 64px;
            height: 100%;
            background: #FFFFFF;
        }
    }
}

.abouthotel__title {
    text-align: center;
    color: #745629;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 6px;

    @media (min-width: 1280px) {
        text-align: left;
    }

    @media (min-width: 1600px) {
        font-size: 40px;
    }

    @media (min-width: 1900px) {
        font-size: 60px;
    }
}

.abouthotel__article {
    color: #745629;
    font-size: 17px;
    margin-bottom: 14px;
    text-align: center;

    @media (min-width: 1280px) {
        text-align: left;
        font-size: 18px;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            bottom: -25px;
            right: 20px;
            background: url("../img/arrow.png") no-repeat center;
            width: 56px;
            height: 55px;
            background-size: contain;

            @media (max-width: 1899px) {
                width: 30px;
            }

            @media (min-width: 1900px) {
                right: 30px;
            }
        }
    }

    @media (min-width: 1600px) {
        font-size: 30px;
    }

    @media (min-width: 1900px) {
        font-size: 32px;
        margin-bottom: 35px;
    }
}

.hotelinfo {
    border-radius: 10px;
    padding: 22px 16px 16px;
    margin-bottom: 76px;
    position: relative;

    @media (max-width: 1279px) {
        box-shadow: 10px 10px 50px 5px rgba(62, 85, 148, 0.2);
    }

    @media (min-width: 1280px) {
        margin: 0;
        padding: 0;
    }
}

.hotelinfo__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    @media (min-width: 1600px) {
        margin-bottom: 20px;
    }
}

.hotelinfo__top>li {
    &:first-child {
        text-align: center;
        color: #553E1D;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 18px;

        @media (min-width: 1280px) {
            text-align: left;
            margin-bottom: 0;
        }

        @media (min-width: 1600px) {
            font-size: 26px;
        }
    }
}

.paymentinfo {
    @media (max-width: 1279px) {
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        top: 104%;
    }
}

.paymentinfo__img {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.paymentinfo__article {
    text-align: center;
    color: #2B3F64;
    font-size: 14px;
    margin-bottom: 15px;
}

.reservform {
    input {
        width: 100%;
        border: none;
        border-radius: 6px;
        height: 60px;
        padding-left: 60px;
        padding-right: 10px;
        color: #767575;
        font-size: 20px;
        outline: none;

        @media (min-width: 1280px) and (max-width: 1599px) {
            font-size: 15px;
        }
    }
}

.reservform__list {
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    @media (min-width: 992px) {
        flex-wrap: nowrap;
    }

    li {

        &:nth-child(1),
        &:nth-child(2) {
            @media (min-width: 768px) and (max-width: 991px) {
                width: 49%;
            }
        }

        &:nth-child(1) {
            @media (min-width: 992px) {
                width: 26%;
            }
        }

        &:nth-child(2) {
            @media (min-width: 992px) {
                width: 17%;
            }
        }

        &:nth-child(3) {
            @media (min-width: 768px) and (max-width: 991px) {
                width: 100%;
            }

            @media (min-width: 992px) {
                width: 26%;
            }
        }

        &:nth-child(4) {
            @media (min-width: 768px) and (max-width: 991px) {
                width: 100%;
            }

            @media (min-width: 992px) {
                width: 26%;
            }
        }

        &:not(:last-child) {
            @media (max-width: 991px) {
                margin-bottom: 12px;
            }
        }
    }
}

.reservform__btn {
    display: block;
    max-width: 272px;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    background: #FF9E00;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
}

.reserv-gallery__price {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #2456AE;
    border-radius: 10px;
    text-align: center;
    padding: 11px 18px;
    z-index: 5;
    font-weight: 600;
    font-size: 28px;
    color: white;

    @media (max-width: 1279px) {
        top: 0;
        width: 280px;
    }

    @media (min-width: 1280px) {
        bottom: 55px;
    }

    @media (min-width: 1280px) and (max-width: 1899px) {
        font-size: 20px;
    }
}

.reservform__date {
    background: #EEF2F7 url("../img/calendar.png") no-repeat left 20px center;
}

.reservform__guest {
    background: #EEF2F7 url("../img/add-guest.png") no-repeat left 20px center;
}

.custom-select {
    margin-bottom: 22px;

    .selectric {
        border: none;
        border-radius: 6px;
        background: #EEF2F7;
    }

    .label {
        height: 60px;
        line-height: 56px;
        color: #898F97;
        font-size: 20px;
        padding-left: 19px;
        font-weight: 400;

        @media (min-width: 992px) {
            padding-left: 12px;
        }

        @media (min-width: 1280px) and (max-width: 1599px) {
            font-size: 15px;
        }
    }

    .selectric-items li {
        padding-left: 27px;
        font-size: 19px;

        @media (min-width: 1280px) and (max-width: 1599px) {
            font-size: 15px;
        }
    }

    .button {
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: url('../img/expand-more.png') no-repeat center;

        &:after {
            display: none;
        }
    }
}

.reserv-gallery,
.page-gallery {
    .swiper-pagination {
        bottom: 20px;

        .swiper-pagination-bullet {
            width: 72px;
            height: 4px;
            background: rgba(185, 185, 185, 0.48);
            border-radius: 0px;

            @media (max-width: 767px) {
                display: none;
            }
        }

        .swiper-pagination-bullet-active {
            background: #FF9E00;
            border-radius: 0px;
            border: none;
            outline: none;
        }
    }

    .swiper-slide {
        text-align: center;
    }

    .swiper-button-next {
        width: 30px;
        height: 30px;
        background: url("../img/arrow-right.png") no-repeat center;

        @media (max-width: 767px) {
            display: none;
        }
    }

    .swiper-button-prev {
        width: 30px;
        height: 30px;
        background: url("../img/arrow-left.png") no-repeat center;

        @media (max-width: 767px) {
            display: none;
        }
    }
}

.inner-slider {
    .swiper-pagination {
        bottom: 20px;

        @media (max-width: 767px) {
            display: none;
        }

        .swiper-pagination-bullet {
            width: 72px;
            height: 4px;
            background: rgba(218, 218, 218, 0.48);
            border-radius: 0px;
        }

        .swiper-pagination-bullet-active {
            background: #FF9E00;
            border-radius: 0px;
            border: none;
            outline: none;
        }
    }
}

.reserv-gallery__wrap {
    @media (min-width: 1900px) {
        position: absolute;
        top: 0;
        right: -80px;
        width: 900px;
    }
}

.maintitle {
    text-align: center;
    color: #745629;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;

    @media (min-width: 1280px) {
        font-size: 35px;
    }
}

.cont-txt {
    color: #2B3F64;
    font-size: 15px;

    p {
        margin-bottom: 16px;
    }

    @media (min-width: 1280px) {
        font-size: 18px;
    }
}

.apartments {
    background: url("../img/cont-bg.jpg") no-repeat center;
    background-size: cover;
    padding-top: 24px;
    margin-bottom: 35px;

    @media (min-width: 768px) {
        padding-top: 44px;
        padding-bottom: 30px;
    }

    @media (min-width: 1280px) {
        margin-bottom: 55px;
    }
}

.apartments__title {
    text-align: center;
    margin-bottom: 50px;

    @media (max-width: 767px) {
        display: none;
    }
}

.apartment-slider {
    @media (min-width: 768px) {
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: 1600px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    .swiper-button-next {
        width: 50px;
        height: 50px;
        background: url("../img/arrow-right.png") no-repeat center;
        right: -12px;

        @media (max-width: 767px) {
            display: none;
        }
    }

    .swiper-button-prev {
        width: 50px;
        height: 50px;
        background: url("../img/arrow-left.png") no-repeat center;
        left: -12px;

        @media (max-width: 767px) {
            display: none;
        }
    }
}

.apartment-slider>.swiper-wrapper>.swiper-slide {
    @media (max-width: 767px) {
        max-width: 300px;
        width: 100%;
        margin: 0 auto 30px;
    }
}


.apartment-slider>.swiper-wrapper {
    @media(max-width: 767px) {
        display: block;
    }
}

.apartment-slider>.swiper-pagination {
    bottom: 0;

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: rgba(163, 170, 192, 0.25);
    }

    .swiper-pagination-bullet-active {
        background: #FF4D4D;
    }

    @media (max-width: 767px) {
        display: none;
    }
}

.apartment-slider__item {
    background: #FFFFFF;
    box-shadow: 0px 5px 10px 5px rgba(43, 42, 102, 0.07);
    border-radius: 10px;
    overflow: hidden;
}

.apartment-slider__link {
    text-align: center;
    margin-bottom: 15px;
    color: #2456AE;
    font-size: 22px;
    font-weight: 600;

    a {
        border-bottom: 1px solid #2456AE;
    }

    @media (min-width: 1280px) {
        font-size: 30px;
    }
}

.apartment-slider__info {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

    @media (min-width: 1280px) {
        padding-bottom: 20px;
    }
}

.apartment-slider__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    @media (min-width: 1600px) {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 15px;
    }

    li {
        @media (max-width: 399px) {
            width: 20px;
        }
    }
}

.price-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
        width: 108px;
        height: 96px;
        background: rgba(116, 86, 41, 0.06);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 2px;
        margin-bottom: 15px;

        @media (min-width: 1600px) {
            margin: 0;
            margin-bottom: 20px;
            width: 95px;
        }

        @media (min-width: 1800px) {
            width: 108px;
        }
    }
}

.apartment-slider__img {
    margin-bottom: 10px;
    text-align: center;
}

.price-list__article {
    color: #282423;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 13px;
}

.price-list__price {
    font-size: 24px;
    font-weight: 600;
    color: #2456AE;
}

.order-btn {
    width: 100%;
    color: white;
    background: #FF9E00;
    border-radius: 6px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;

    @media (min-width: 1280px) {
        padding-right: 30px;
        background: #FF9E00 url("../img/key-icon.png") no-repeat center right 30px;
    }

    @media (min-width: 1600px) {
        background: #FF9E00 url("../img/key-icon.png") no-repeat center right 80px;
    }
}

.hotelruls {
    .maintitle {
        margin-bottom: 20px;

        @media (min-width: 1280px) {
            margin-bottom: 35px;
        }
    }
}

.hotelruls__img {
    text-align: center;
    margin-bottom: 26px;
}

.hotelruls-list {
    text-align: center;
    color: #2B3F64;
    font-size: 14px;

    @media (min-width: 768px) {
        text-align: left;
    }

    li {
        margin-bottom: 20px;

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
        }
    }
}

.hotelruls-list__icon {
    margin-bottom: 15px;

    @media (min-width: 768px) {
        width: 40px;
        margin-bottom: 0;
    }
}

.hotelruls-list__article {
    @media (min-width: 768px) {
        width: calc(100% - 40px);
        padding-left: 24px;
    }
}

.hotelruls__columns {
    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
    }

    .hotelruls__column {
        &:first-child {
            @media (min-width: 992px) {
                width: 403px;
            }
        }

        &:last-child {
            @media (min-width: 992px) {
                width: calc(100% - 403px);
                padding-left: 50px;
            }
        }
    }
}

.hotelruls {
    margin-bottom: 26px;

    @media (min-width: 1280px) {
        margin-bottom: 99px;
    }
}

.price-table {
    width: 100%;
    border-collapse: collapse;

    thead {
        @media (max-width: 1279px) {
            margin-bottom: 11px;
            text-align: center;
        }

        tr {
            background: #694B4B;
            color: white;

            @media (max-width: 1279px) {
                border-radius: 4px;
            }

            th {
                padding: 27px 0px;
                text-align: center;

                @media (max-width: 1279px) {
                    background: #694B4B;
                    padding: 12px 0px;
                }

                &:first-child {
                    text-align: left;

                    @media (max-width: 1279px) {
                        text-align: center;
                    }

                    @media (min-width: 1280px) {
                        padding-left: 32px;
                    }
                }

                &:not(:first-child) {
                    @media (max-width: 1279px) {
                        display: none;
                    }
                }
            }
        }
    }

    tbody {
        tr {
            background: rgba(116, 86, 41, 0.06);

            @media (max-width: 1279px) {
                margin-bottom: 24px;
                padding: 15px 10px;
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }

            @media (min-width: 1280px) {
                &:hover {
                    background: #FFFFFF;
                    box-shadow: 2px 2px 30px 10px rgba(40, 39, 98, 0.09);

                    .price-table__check {
                        display: none;
                    }

                    .price-table__btn {
                        display: inline-block;
                    }
                }
            }

            td {
                @media (max-width: 767px) {
                    width: 48%;
                }

                @media (min-width: 768px) and (max-width: 1279px) {
                    width: 24%;
                }

                &:first-child {
                    @media (max-width: 1279px) {
                        width: 100%;
                    }
                }

                &:last-child {
                    @media (max-width: 1279px) {
                        width: 100%;
                    }
                }

                @media (max-width: 1279px) {
                    margin-bottom: 17px;
                }

                @media (min-width: 1280px) {
                    text-align: center;
                    height: 80px;
                    border-top: 4px solid white;

                    &:last-child {
                        border-bottom: 4px solid white;
                    }

                    &:first-child {
                        text-align: left;
                        padding-left: 32px;
                    }
                }
            }
        }
    }
}

.price-table {

    thead,
    tr,
    th,
    td {
        @media (max-width: 1279px) {
            display: block;
        }
    }
}

.price-table__inner {
    thead {
        tr {
            th {
                &:nth-child(6) {
                    @media (max-width: 1599px) {
                        display: none;
                    }
                }
            }
        }
    }

    tbody {
        tr {
            td {
                &:nth-child(6) {
                    @media (max-width: 1599px) {
                        display: none;
                    }
                }
            }
        }
    }

    .price-table__btn {
        @media (min-width: 1600px) {
            width: 200px;
            font-size: 16px;
        }
    }
}

.price-table__btnwrap {
    position: relative;
}

.price-table__link {
    color: #2456AE;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #2456AE;
}

.price-table__hidden {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;

    @media (min-width: 1280px) {
        display: none;
    }
}

.price-table__price {
    font-size: 18px;
    color: #2B3F64;

    @media (max-width: 1279px) {
        color: #2B3F64;
        font-weight: 600;
    }
}

.price-table__btn {
    width: 258px;
    height: 60px;
    background: #FF9E00;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;

    @media (min-width: 1280px) {
        width: 200px;
        font-size: 14px;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media (min-width: 1600px) {
        font-size: 18px;
        width: 250px;
    }

    @media (min-width: 1900px) {
        font-size: 20px;
        width: 284px;
    }
}

.price-table__check {
    @media (max-width: 1279px) {
        display: none;
    }
}

.tableblock {
    margin-bottom: 25px;

    @media (min-width: 1280px) {
        margin-bottom: 73px;
    }

    .maintitle {
        margin-bottom: 15px;

        @media (min-width: 1280px) {
            margin-bottom: 35px;
        }
    }
}

.hotelphotos {
    margin-bottom: 33px;

    @media (min-width: 1280px) {
        margin-bottom: 70px;
    }

    .maintitle {
        margin-bottom: 25px;

        @media (min-width: 1280px) {
            margin-bottom: 35px;
        }
    }
}

.photogallery {
    @media (min-width: 991px) {
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .swiper-slide {
        text-align: center;
    }

    .swiper-button-next {
        width: 50px;
        height: 50px;
        background: url("../img/arrow-right.png") no-repeat center;
        right: -13px;
        top: 45%;

        @media (max-width: 991px) {
            display: none;
        }
    }

    .swiper-button-prev {
        width: 50px;
        height: 50px;
        background: url("../img/arrow-left.png") no-repeat center;
        left: -13px;
        top: 45%;

        @media (max-width: 991px) {
            display: none;
        }
    }

    .swiper-pagination {
        bottom: 0;

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background: rgba(163, 170, 192, 0.25);
        }

        .swiper-pagination-bullet-active {
            background: #FF4D4D;
        }

        @media (max-width: 991px) {
            display: none;
        }
    }
}

.footer {
    background: #553E1D;
    padding: 27px 0px 24px;

    @media (min-width: 1280px) {
        padding: 46px 0px 43px;
    }

    .container {
        @media (max-width: 991px) {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}

.footer__recall {
    color: white;
    margin-bottom: 20px;
}

.our-place__footer {
    margin-bottom: 20px;
}

.metro-place__footer,
.our-place__footer,
.copyright,
.footer__nav {
    color: #E6AF78;
}

.footer__nav {
    @media (max-width: 991px) {
        display: none;
    }

    @media (min-width: 992px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media (min-width: 1280px) {
        justify-content: flex-start;
    }

    li {
        &:not(:last-child) {
            @media (min-width: 1280px) {
                margin-right: 70px;
            }
        }
    }
}

.footer__bottom {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (max-width: 991px) {
        padding-top: 120px;

        .copyright {
            order: 2;
        }

        .development {
            order: 1;
            margin-bottom: 25px;
        }
    }

    @media (min-width: 992px) {
        padding-top: 177px;
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer__columns {
    @media (min-width: 992px) {
        display: flex;
        justify-content: space-around;
    }

    .footer__column {
        &:first-child {
            @media (min-width: 992px) {
                width: 400px;
            }
        }

        &:last-child {
            @media (min-width: 992px) {
                width: calc(100% - 400px);
            }
        }
    }
}

.development__article {
    color: #F0C087;
    font-size: 14px;
    margin-right: 15px;

    @media (max-width: 991px) {
        display: none;
    }
}

.development {
    @media (min-width: 992px) {
        display: flex;
        align-items: center;
    }
}

.pagetop__title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;

    @media (min-width: 1280px) {
        font-size: 26px;
    }

    span {
        display: block;
        margin-bottom: 6px;

        @media (min-width: 1280px) {
            display: inline-block;
            margin-bottom: 15px;

            &:first-child {
                margin-right: 25px;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -16px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 8px;
                    height: 8px;
                    background: #FF9E00;
                    border-radius: 10em;
                }
            }
        }
    }
}

.page-gallery-wrap {
    position: relative;
    margin-bottom: 25px;
}

.pagetop__roomname {
    color: #2456AE;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;

    @media (min-width: 1280px) {
        text-align: left;
    }
}

.room-info__title {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 600;
}

.room-info__list {
    margin-bottom: 28px;

    li {
        position: relative;
        padding-left: 19px;

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            background: #FF9E00;
        }
    }
}

.pagetop__lists {
    @media (max-width: 767px) {
        display: flex;
        justify-content: center;
    }
}

.price-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media (min-width: 1280px) {
        justify-content: flex-start;
    }

    li {
        margin: 2px;
        margin-bottom: 15px;

        @media (min-width: 1280px) {
            margin-bottom: 0;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        @media (min-width: 1600px) {
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }
}

.price-info__item {
    width: 108px;
    height: 96px;
    background: rgba(116, 86, 41, 0.06);
    border-radius: 4px;
    text-align: center;
    padding-top: 16px;
}

.price-info__article {
    margin-bottom: 13px;
    font-size: 22px;
    font-weight: 600;
    color: #282423;
}

.price-info__price {
    color: #2456AE;
    font-size: 24px;
    font-weight: 600;
}

.pagetop__inner {
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-around;
    }

    @media (min-width: 1280px) {
        justify-content: flex-start;
    }

    .room-info {
        &:first-child {
            @media (min-width: 1280px) {
                margin-right: 40px;
            }

            @media (min-width: 1600px) {
                margin-right: 94px;
            }
        }
    }
}

.order-room {
    display: block;
    max-width: 288px;
    width: 100%;
    margin: 10px auto 46px;
    background: #FF9E00;
    border-radius: 6px;
    height: 60px;
    font-size: 18px;
    color: white;

    @media (min-width: 1280px) {
        display: none;
    }
}

.pagetop {
    @media (min-width: 1280px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pagetop__column {
        &:first-child {
            @media (min-width: 1280px) {
                width: 700px;
            }

            @media (min-width: 1600px) {
                width: 800px;
            }

            @media (min-width: 1900px) {
                width: 900px;
            }
        }

        &:last-child {
            @media (min-width: 1280px) {
                width: calc(100% - 700px);
                padding-left: 43px;
            }

            @media (min-width: 1600px) {
                width: calc(100% - 800px);
            }

            @media (min-width: 1900px) {
                width: calc(100% - 900px);
            }
        }
    }
}